@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
:root {
  --black: #1c2022;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  font-family: "Barlow", sans-serif;
  padding: 0 20px;
}
.list {
  width: 100%;
  max-width: 700px;
  padding: 0 20px;
}
.card-img {
  width: 35%;
}
.card {
  width: 100%;
  min-height: 100px;
  max-height: 300px;
  margin: 25px 0 0 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;

  display: flex;
}
.card:hover {
  background: #ddd;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  color: var(--black);
}

.list::-webkit-scrollbar {
  -webkit-appearance: none;
}

.list::-webkit-scrollbar:vertical {
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}
