@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
    overflow: hidden;

    .sidebar-scrollbar::-webkit-scrollbar {
      width: 8px;
      height: 12px;
    }

    .sidebar-scrollbar::-webkit-scrollbar-track {
      @apply bg-inkwellInception;
      border-radius: 10px;
    }

    .sidebar-scrollbar::-webkit-scrollbar-thumb {
      border-radius: 10px;
      @apply bg-gray-600;
    }

    .loading-overlay {
      animation-delay: 300ms;
    }
  }
}

@layer components {
  .action-btn {
    @apply flex items-center justify-center gap-2 rounded-[4px] bg-emergencyZone text-center text-[0.938rem] text-white hover:bg-melonRed;
  }

  /* Rendered HTML Styles */
  .preview-html {
    * {
      font-family: "Roboto Slab";
      margin-bottom: 20px;
    }

    /* Headings */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-antarcticDeep dark:text-white;
    }

    h1 {
      font-size: 2rem;
      font-weight: 700;
    }
    h2 {
      font-size: 1.75rem;
      font-weight: 400;
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 700;
    }
    h4 {
      font-size: 1.25rem;
      font-weight: 700;
    }
    h5 {
      font-size: 1rem;
      font-weight: 700;
    }
    h6 {
      font-size: 0.875rem;
      font-weight: 700;
      @apply text-emergencyZone dark:text-emergencyZone;
    }

    /* Lists, Paragraph */
    ul {
      list-style: inside;
    }
    p,
    li {
      font-size: 0.875rem;
      @apply text-adeptusBattlegrey dark:text-ashBlue;
      line-height: 1.5rem;
    }
    li {
      font-family: "Roboto Slab";
      margin-left: 24px;
      margin-bottom: 4px;
    }
    ol {
      counter-reset: list-counter;
      list-style-type: none;
      padding-left: 0;
    }
    ol > li {
      counter-increment: list-counter;
      margin-bottom: 10px;
      position: relative;
      padding-left: 20px;
    }
    ol > li::before {
      content: counter(list-counter) ". ";
      position: absolute;
      left: 0;
      font-weight: normal;
      font-size: 0.875rem;
      @apply text-adeptusBattlegrey;
    }
    li::marker {
      @apply text-emergencyZone;
    }

    /* Anchor */
    a {
      text-decoration: underline;
    }

    /* Block Quote */
    blockquote {
      padding: 24px;
      border-radius: 4px;
      /* border-left: 4px solid #e46643; */
      @apply border-l-4 border-emergencyZone;
      @apply bg-whiteSmoke dark:bg-caviar;
    }

    blockquote > p {
      margin: 0;
      font-weight: 700;
      @apply text-antarcticDeep dark:text-white;
    }

    /* Code Block */
    pre {
      padding: 24px;
      border-radius: 4px;
      @apply bg-whiteSmoke dark:bg-caviar;
    }

    code {
      font-family: "Roboto Mono";
      font-size: 0.875rem;
      text-wrap: balance;
      @apply dark:text-white;
    }

    /* Table */
    table {
      @apply border border-steam;
      @apply dark:text-white;
    }

    table > tbody > tr > td,
    table > tbody > tr > th,
    table > tfoot > tr > td,
    table > tfoot > tr > th,
    table > thead > tr > td,
    table > thead > tr > th {
      @apply border border-steam;
    }

    table > thead > tr > td,
    table > thead > tr > th {
      border-bottom-width: 2px;
    }

    table,
    table > thead > tr > th,
    table > thead > tr > td,
    table > tbody > tr > th,
    table > tbody > tr > td,
    table > tfoot > tr > th,
    table > tfoot > tr > td {
      @apply border border-steam;
    }

    table > thead > tr > th,
    table > thead > tr > td {
      border-bottom-width: 2px;
    }

    table > tbody > tr:nth-of-type(odd) {
      @apply bg-doctor dark:bg-gray-950;
    }

    table > tbody > tr:nth-child(odd) > td,
    table > tbody > tr:nth-child(odd) > th {
      @apply bg-doctor dark:bg-gray-950;
    }

    table > tbody > tr:nth-of-type(odd) {
      @apply bg-doctor dark:bg-gray-950;
    }

    table > thead > tr > th {
      padding: 8px;
      line-height: 1.4285714;
      @apply border border-steam;
    }

    table > thead > tr > td,
    table > tbody > tr > th,
    table > tbody > tr > td,
    table > tfoot > tr > th,
    table > tfoot > tr > td {
      padding: 8px;
      line-height: 1.4285714;
      vertical-align: top;
      @apply border border-steam;
    }
  }
}
